<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="messisConn" connectionString="Server=localhost; Database=MESSIS; User ID=sa; Password=123456;Min Pool Size=5;Max Pool Size=100;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <!-- So we can map paths correctly in css files -->
        <add extension=".css" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <appSettings>
    <add key="MaterialImages" value="~/WebSystem/Material/Images/" />
  </appSettings>
</configuration>